body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

fieldset {
  border: 1px solid white;
}

legend {
  color: red;
}

input[required="required"]:valid{
    background-color: #ddffdd;
}

::placeholder {
  text-align: center;
  color: red;
}

button {
  float:right;
  background-color: red;
  border-radius: 8px;
}

table {
  border: 1px solid white;
}

th {
  color: red;
}

td {
  text-align: center;
  border: 1px solid white;
}
